In [13]:
from pydal import DAL ,Field
#the syntax to connect with database 
db = DAL('mysql://root:root@localhost/studyCode')

try:
    #The syntax to create students table and insert data in it
    db.define_table('nalsolution',Field('owner_id'), Field('name'), Field('age', type = 'integer'))
    db.define_table('employee', Field('id'), Field('name'),Field('derpat'))
       
    #Insert data in table
    db.nalsolution.insert(owner_id = '1',name = 'Luke',age = 23)
    db.nalsolution.insert(owner_id = '2',name = 'Luke',age = 24)
    db.nalsolution.insert(owner_id = '2',name = 'Luke',age = 26)
    db.employee.insert(id = '1',name = 'Rusan',age = 26)
    db.employee.insert(id = '2',name = 'Piter',age = 67)
    db.employee.insert(id = '3',name = 'Juck',age = 34)
    
    #Use inner join
    sampleInnerJoin = db(db.nalsolution.owner_id == db.employee.id).select()
    
    #Output data before join
    for data in sampleInnerJoin:
        print(data.nalsolution.name,'has',data.employee.name)
        
    #Use left out join
    sampleLeftOutJoin = db().select(db.nalsolution.ALL, db.employee.ALL,
                                   left=db.employee.on(db.nalsolution.owner_id == db.employee.id))
    
    #Output data before join
    for data in sampleInnerJoin:
        print(data.nalsolution.name,'has',data.employee.name)
        
finally:
    if db:
        db.close()

SyntaxError: invalid syntax (<ipython-input-13-44b5bf9325b9>, line 36)